.everything { 
  min-height:100%;
  margin: 0;
  -webkit-print-color-adjust: exact;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}

.everything img {
  max-width: 100%;
  width: 100%;
}

.top {
  padding: 0 0 18px 0;
}

/* 
  font-family: 'Fauna One', serif; 
  background: #c7aa31;
*/