.everything { 
  background: #c7aa31; 
  min-height:100%;
  color: white;
  margin: 0;
  max-width: 100%;
}

.wedding {
  text-align: center;
  font-family: sans-serif;
}

.top img {
  width: 100%;
}
